<header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1 id="header-text">CODE CLASH</h1>
				</div>
				<div class="col-md-2">
					<a href="arena-test.html"><h3>Go to Arena</h3></a>
				</div>
			</div>
		</div>
	</nav>
</header>

<div class="container test-background">
	<div class="row">
		<h3 id="stat-header"><span class="user-render">User</span>'s Profile Page</h3>
	    <div class="col-md-12">
		  	
		  	<div class="row">
		  		<div class="col-md-12">
		  			<h4>Player Score: </h4>
		  			<h4>Solo Stats:</h4>
					<ul>
						<li>Solo Wins: </li>
						<li>Solo Losses: </li>
						<li>Total Solo Attempts: </li>
					</ul>
		  			<h4>Duel Stats: </h4>
	  				<ul>
	  					<li>Duels Won: </li>
	  					<li>Duels Lost: </li>
	  					<li>Total Duels: </li>
	  				</ul>
		  		</div>
		  	</div>
	    </div>
	</div>
</div>

<footer>
	<p class="text-center">&copy; Copyright 2017: Dylan Ishihara, Saumya Telang, Roper Macaraeg</p>
</footer>