#header-text{
	color: white;
}

#input-background {
	background-color: gray;
}

.site-footer {
	background-color: orange;
	height: 50px;
}

#stat-header {
	background-color: orange;
	height: 50px;
	margin: 0px auto;
}

#signin-background {
	position: fixed;
	opacity: 0.90;
	z-index: -1;
}